<div class="header">
  <app-top-nav></app-top-nav>
  <app-header-content></app-header-content>
  <app-main-nav></app-main-nav>
  <!-- [style.display]="navState ? 'block' : ''" -->
  <div class="navigation_holder" [style.display]="navState ? 'block' : ''">
    <div class="nav_options_holder" [style.display]="navState ? 'flex' : ''">
      <div class="sign_in_up">
        <div class="sign_in" [routerLink]="'/content/sign-in-up'" (click)="toggleNav()">sign in</div>
        /
        <div class="sign_up" [routerLink]="'/content/sign-in-up'" (click)="toggleNav()">sign up</div>
      </div>
      <a href="#" (click)="toggleNav()">Earrings</a>
      <a routerLink="content/rings" (click)="toggleNav()">Rings</a>
      <a href="#" (click)="toggleNav()">Bracelets</a>
      <a href="#" (click)="toggleNav()">Suspension</a>
      <a href="#" (click)="toggleNav()">% Outlet</a>
    </div>
  </div>
  <div class="responsive_header">
    <div class="nav_logo">
      <div class="nav_btn" (click)="toggleNav()">
        <div class="nav_btn_line" [ngClass]="navState ? 'active' : ''"></div>
        <div class="nav_btn_line" [ngClass]="navState ? 'active' : ''"></div>
        <div class="nav_btn_line" [ngClass]="navState ? 'active' : ''"></div>
      </div>
      <div class="logo" [routerLink]="'/'"></div>
    </div>
    <div class="logo_center" [routerLink]="'/'"></div>
    <div class="search_basket">
      <div class="search_btn"></div>
      <div class="favorite_btn">
        <i class="fas fa-heart"></i>
      </div>
      <div class="basket_btn" [routerLink]="'/content/checkout'"></div>
    </div>
  </div>
</div>
