<div class="footer">
  <div class="footer_content">
    <div class="logo_holder">
      <div class="footer_logo" [routerLink]="'/'"></div>
    </div>
    <div class="nav_holder">
      <div class="footer_subscribe">
        <span class="join_us">
          <a href="#">Join us</a>
        </span>
        <form class="subscribe_holder">
          <input type="email" class="subscribe_inp" placeholder="email" required>
          <button type="submit" class="subscribe_submit">
            subscribe
          </button>
        </form>
      </div>
      <div class="footer_nav">
        <div class="nav_left">
          <ul class="left_navholder">
            <li><a href="#">About us</a></li>
            <li><a href="#">Shops</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Payment and delivery</a></li>
          </ul>
        </div>
        <div class="nav_right">
          <ul class="right_navholder">
            <li><a href="#">DECORATIONS</a></li>
            <li><a href="#">COLLECTIONS</a></li>
            <li><a href="#">NEWS</a></li>
            <li><a href="#">% OUTLET</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contact_holder">
      <div class="contact_content">
        <a href="tel:0800300750" class="contact_phone">0 (800) 300 750</a><br>
        <a href = "mailto: onlinestore@silverjewels.com">onlinestore@silverjewels.com</a>
      </div>
    </div> 
  </div>
  <div class="footer_social">
    <p class="copyright">&copy; 2019 Shop-Jewelry</p>
    <div class="social_icons">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>

<!-- RESPONSIVE FOOTER -->
  <div class="responsive_footer">
    <div class="contact_content-responsive">
      <a href="tel:0800300750" class="contact_phone">0 (800) 300 750</a><br>
      <a href = "mailto: onlinestore@silverjewels.com">onlinestore@silverjewels.com</a>
    </div>
    <div class="social_icons">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
    </div>
    <div class="copy_right">
      <p class="copyright">&copy; 2019 Shop-Jewelry</p>
    </div>
  </div>
</div>
