<div class="product_wrapper">
    <div class="content_holder">
        <div class="left">
            <div class="product_slider">
                <div class="slider_options">
                    <div class="item" (click)="firstProductImg()">
                        <img [src]="selectedProduct.cardImg">
                    </div>
                    <div class="item" (click)="secondProductImg()">
                        <img [src]="selectedProduct.imgPlaceholder">
                    </div>
                </div>
                <div class="img_holder">
                    <div class="slider_img">
                            <!-- imgState ? 'selectedProduct.cardImg' : 'selectedProduct.imgPlaceholder' -->
                        <img [src]="selectedProduct.cardImg" [style.display]="imgState ? 'block' : 'none'">
                        <img [src]="selectedProduct.imgPlaceholder" [style.display]="imgState ? 'none' : 'block'">
                    </div>
                </div>
            </div>
            <div class="delivery">
                <div class="delivery_nav">
                    <a href="#">Delivery</a>
                    <a href="#">Payment</a>
                    <a href="#">Warranty</a>
                </div>
                <p class="typeof_delivery type_one">
                    To the New Post Office
                    <span>
                        Free of charge
                    </span>
                </p>
                <p class="typeof_delivery">
                    Delivery by courier of the New Post at the address
                    <span>
                        Paid
                    </span>
                </p>
            </div>
            <div class="reviews">
                <p class="reviews_title">
                    Decoration Reviews
                </p>
                <div class="review_holder" *ngFor="let review of reviews">
                    <div class="first_line">
                        <div class="customer_name">{{ review.customerName }}</div>
                        <div class="customer_rating">
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star active"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="feedback_date">{{ review.feedbackDate }}</div>
                    </div>
                    <p class="customer_comment">
                        {{ review.feedbackMessage }}
                    </p>
                </div>
                

                <p class="addreview_title">Add a review</p>
                <form class="form_holder">
                    <div class="username_email">
                        <div class="username_holder">
                            <input type="text" name="username" id="username" placeholder="Your name" required 
                            [(ngModel)]="cName">
                            <p class="active_placeholder" 
                                [style.display]="(cName == 0 || cName == undefined) ? 'none' : 'block'">
                                Your name
                            </p>
                        </div>
                        <div class="email_holder">
                            <input type="email" name="email" id="email" placeholder="Email address" required
                                [(ngModel)]="cEmail">
                            <p class="active_placeholder"
                                [style.display]="(cEmail == 0 || cEmail == undefined) ? 'none' : 'block'">
                            Email adress
                            </p>
                        </div>
                    </div>
                    <textarea name="feedback" class="feedback_message" placeholder="Write your review"
                    [(ngModel)]="cMessage"></textarea>
                    <button type="submit" class="form_submit" (click)="addComment()">Send</button>
                </form>
                <div class="your_mark">
                    <p class="mark_title">Your mark</p>
                    <div class="mark_rating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="charactery">
                <p class="charactery_title">
                    <!-- Silver rings with fianites (1RI38993-R / 12/1) -->
                    {{ selectedProduct.cardTitle }}
                </p>
                <div class="charactery_content">
                    <div class="charactery_left">
                        <div class="charactery_size">
                            <span class="size_text">Size</span>
                            <select name="size" class="select_size">
                                <option value="17,5">17,5</option>
                                <option value="18">18,5</option>
                                <option value="19">19,5</option>
                                <option value="20">20,5</option>
                            </select>
                            <div class="check_mark"></div>
                            <span class="size_text">in stock</span>
                        </div>
                        <div class="product_price">
                            <!-- {{ selectedProduct.cardPrice }} -->
                            <!-- (calculatedPrice > selectedProduct.cardPrice) ? 'calculatedPrice' : 'selectedProduct.cardPrice' -->
                            <span>{{ selectedProduct.cardPrice }}$</span>
                            <div class="current_discount">
                                40$
                                <div class="line_through"></div>
                            </div>
                        </div>
                        <div class="purchase_number">
                            <div class="decrement" (click)="decrement(number)"></div>
                            <input type="text" class="p_number" maxlength="2" value="{{ number }}">
                            <div class="increment" (click)="increment(number)"></div>
                        </div>
                        <div class="btns_submit">
                            <div class="buy_btn">Buy</div>
                            <div class="whishlist_btn">Whishlist</div>
                        </div>
                    </div>
                    <div class="charactery_right">
                        <div class="product_prop">Material: Silver</div>
                        <div class="product_prop">Metal color: White</div>
                        <div class="product_prop">Collection: Savanna</div>
                        <div class="product_prop">Average weight: 2.3</div>
                    </div>
                </div> 
            </div>
            <div class="accordion_holder">
                <div class="accordion">  
                    <div class="accordion_header" (click)="toggleAccordion()">
                        All characteristics
                        <div class="accordion_arrow" [ngClass]="accordionState ? 'active' : ''"></div>
                    </div>
                    <!-- [ngClass]="stateCheck ? 'active' : ''" -->
                    <div class="accordion_body" [style.height]="accordionState ? '262px' : '0px'">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
                        <p>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </p>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        </p>
                        <p>
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>         
                </div>
            </div>
            <div class="complete">
                <p class="complete_title">
                    Complete your image
                </p>
                <div class="complete_img"></div>
                <div class="complete_name">
                    Braslet Elegantnost
                    <div class="name_underline"></div>
                </div>
                <div class="complete_price">
                    <p class="main_price">20$</p>
                    <p class="discount">40$</p>
                </div>
            </div>
        </div>
    </div>
</div>
