<!-- (messageEvent)="receiveMessage($event)" -->
<div class="checkout_wrapper">
  <div class="checkout_left">
    <div class="checkout_holder">
      <h1 class="checkout_title">Checkout</h1>
      <div class="section_title">
        <div class="section_number">1</div>
        Fill your data
      </div>
      <input type="text" name="name" class="checkout_inps" placeholder="Name">
      <input type="text" name="last name" class="checkout_inps" placeholder="Last name">
      <input type="tel" name="tel" class="checkout_inps" placeholder="Telephone">
      <input type="email" name="email" class="checkout_inps" placeholder="Email">
      <input type="text" name="city" class="checkout_inps last_inp" placeholder="City">
      <div class="section_title">
          <div class="section_number">2</div>
          SELECT A DELIVERY METHOD
      </div>
      <div class="delivery_method">
        <div class="delivery_item">
          <div class="item_img post_office"></div>
          <div class="item_name">post office</div>
        </div>
        <div class="delivery_item">
          <div class="item_img delivery"></div>
          <div class="item_name">delivery</div>
        </div>
      </div>
      <input type="text" name="address" class="address_inp" placeholder="Delivery address">
      <div class="section_title">
        <div class="section_number">3</div>
        Select a payment method
      </div>
      <div class="payment_method">
        <div class="payment_item">
          <div class="item_img cash"></div>
          <div class="item_name">in cash</div>
        </div>
        <div class="payment_item">
          <div class="item_img mastercard"></div>
          <div class="item_name">mastercard</div>
        </div>
        <div class="payment_item">
          <div class="item_img visa"></div>
          <div class="item_name">visa</div>
        </div>
      </div>
      <div class="checkout_btn">
        checkout
      </div>
    </div>
  </div>
  <div class="checkout_right">
    <div class="basket_holder">
      <h1 class="basket_title">Basket</h1>
      <div class="basket_content">
        <div class="basket_row">
          <div class="basket_img"></div>
          <p class="delivery_type">Delivery:</p>
          <p class="amount_total">Amount:</p>
        </div>
        <div class="basket_row">
          <div class="basket_product_title">
            <!-- Silver rings with fianites (1RI38993-R / 12/1) -->
            {{ itemList[0].cardTitle }}
          </div>
          <div class="price_and_count">
            <span class="price_total">20$</span>
            <span class="count">1 count</span>
          </div>
          <p class="charge">Charge</p>
          <p class="total_amount">{{ itemList[0].finalPrice }}$</p>
        </div>
        <div class="basket_row last_row">
          <div class="recycling_bin"></div>
        </div>
      </div>
      <div class="continue_shopping_btn">
        Continue shopping
      </div>
    </div>
  </div>
</div>
