<div class="wrapper">
  <div class="forms_holder">
    <form class="sign-in">
      <h1 class="title">Sign in</h1>
      <p class="form_title">
        Username or email
      </p>
      <input type="email" name="email" class="signin_inp inp_one">
      <p class="form_title">
        Password
      </p>
      <input type="password" name="password" class="signin_inp inp_two">
      <button type="submit" class="btn_submit">sign in</button>
    </form>
    <div class="line"></div>
    <form class="sign-up">
      <h1 class="title">Sign up</h1>
      <p class="form_title">
        Email
      </p>
      <input type="email" name="email" class="signin_inp inp_one">
      <p class="form_title">
        Password
      </p>
      <input type="password" name="password" class="signin_inp inp_two">
      <button type="submit" class="btn_submit">sign up</button>
    </form>
  </div>
</div>