<div class="header-content">
  <div class="logo"></div>
  <form class="search-holder">
    <input type="search" class="search" placeholder="Search">
    <button type="submit" class="submit_search"></button>
  </form>
  <div class="whishlist">
    <div class="whishlist_icon">
      <i class="fas fa-heart"></i>
    </div>
    <div class="whishlist_btn">Whishlist</div>
  </div>
  <div class="basket" [routerLink]="['content/checkout']">
    <div class="basket_icon"></div>
    <div class="basket_btn">Basket</div>
  </div>
</div>