<div class="header-content">
  <div class="logo" [routerLink]="'/'" (click)="showNumber()"></div>
  <form class="search-holder">
    <input type="search" class="search" placeholder="Search">
    <button type="submit" class="submit_search"></button>
  </form>
  <div class="whishlist">
    <div class="whishlist_icon">
      <i class="fas fa-heart"></i>
    </div>
    <div class="whishlist_btn">Whishlist</div>
  </div>
  <div class="basket">
    <div class="basket_icon">
      <div class="productCounter" [style.display]="numberOfChecked == 0 ? '' : 'block'">
        {{ numberOfChecked == 0 ? '' : numberOfChecked }}
      </div>
    </div>
    <div class="basket_btn" [routerLink]="['content/checkout']" (click)="showNumber()">Basket</div>
  </div>
</div>