<div class="top-nav">
  <div class="nav-items">
    <a href="#">About us</a>
    <a href="#">Payment and delivery</a>
    <span class="sign">
      <a routerLink="content/sign-in-up">sign in</a>
      <span class="slash"> / </span>
      <a routerLink="content/sign-in-up">sign up</a>
      <div class="sign-icon"></div>
    </span>
    <ul class="language_select">
      <li class="l_option">eng <i class="fas fa-chevron-down"></i>
        <ul class="language_options">
          <li>rus</li>
          <li>ukr</li>
        </ul>
      </li>
    </ul>
  </div>
</div>